body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 5rem;
    padding:0;
    transition:all 0.8s ease;
    font-family: 'Segoe UI', sans-serif;
    overflow-y: hidden;
}
body.light{
    background-color: white;
    color: black;
}
body.dark{
    background-color: black;
    color: white;
}
.clock{
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    height: 10rem;
    width: 26rem;
}
.timer{
    margin-top: -2.2rem;
}
.clock span{
    font-size: 3rem;
    font-weight: bolder;
    font-style: italic;
    font-family: serif;
}

.date span{
    font-size: 2.5rem;
    font-weight: 900;
    font-family: serif;
}

.button{
    color:#fff;
    background-color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    font-style: italic;
    margin-top: 7rem;
    transition: 0.5s;
    height: 3rem;
    width: 18rem;
}
.button:hover{
    transform: scale(1.0s);
    height: 3.3rem;
    width: 18.4rem;
}